{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<div class="item"><button class="delete-venue" data-id="{{venue.id}}" style="-webkit-appearance: none; border: none; cursor: pointer; float:right; outline: none; font-size: 15px; color:blue;">&Cross;</button></div>
		</li>
		{% endfor %}
	</ul>
	<script>
		 deleteBtns = document.querySelectorAll(".delete-venue");
		for (let i=0; i < deleteBtns.length; i++) {
            const btn =deleteBtns[i];
            btn.onclick = function(e) {
                console.log('Delete event:', e);
                const venueId = e.target.dataset.id;
                 
                fetch('/venues/' + venueId + '/delete', {
            	    method: 'DELETE',
                })
                .then(function() {
                    console.log('Parent?',e.target);
                    const item = e.target.parentElement;
                    item.remove();
                    window.location.reload(true);
                })
                .catch(function(e) {
                    console.error(e);
                })
            }
        }
	</script>
{% endfor %}
{% endblock %}